.container {
  display: flex;
  width: 1000px;
  height: 250px;
  flex: 1;
}

.toDos {
  width: 500px;
  text-align: left;
  background-color: #337ab7;
}

.listToDos {
  width: 500px;
  text-align: left;
  background-color: #5cb85c;
}
